main {
    max-width: 90rem;;
}
.tento {
    float: left;


}
.nav li {
    list-style-type: none;
    padding: 5px;
}
.nav li a {
    text-decoration: none;
    display: block;
    width: 12em;
    height: 60px;
    padding-top: 10px;
    border: rgba(255, 255, 255, 0.5) 5px solid;
    box-shadow: 5px 3px 3px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
    font-size: 100%;
    font-weight: 700;
    font-style: normal;

    text-align: center;
}
.nav li :hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.8) 5px solid;
    box-shadow: 5px 3px 3px rgba(255, 255, 255, 0.8);
}
.nav li .active {
    border: rgba(255, 255, 255, 1) 5px solid;
    box-shadow: 5px 3px 3px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.7);
}
.pictures figure{
    padding: 0.7rem;

}
.pictures img{

    height: 250px;
    width: auto;
}
figcaption{
    font-weight: 700;
    font-size: 1em;
}
body.ger{
    background-image: url(tank_icon_germany.png);
}
body.usa{
    background-image: url(tank_icon_usa.png );
}