main {
    max-width: 90rem;;
}
.tento {
    float: left;
    padding: 0;
}
.nav li {
    list-style-type: none;
    padding: 5px;
}
.nav li a {
    text-decoration: none;
    display: block;
    width: 10em;
    height: 50px;
    padding-top: 10px;
    border: rgba(255, 255, 255, 0.5) 5px solid;
    box-shadow: 5px 3px 3px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
    font-size: 100%;
    font-weight: 700;
    font-style: normal;

    text-align: center;
}
.nav li :hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.8) 5px solid;
    box-shadow: 5px 3px 3px rgba(255, 255, 255, 0.8);
}
.nav li .active {
    border: rgba(255, 255, 255, 1) 5px solid;
    box-shadow: 5px 3px 3px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.7);
}
.pictures{
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
    padding: 0.5rem;
}
img{
    height:  300px;
    width: auto;
}
figcaption p{
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    text-align: end;
}

.like{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0);
    font-weight: 700;
    font-style: normal;
    text-align: center;
    height: 35px;
    font-size: 25px;
}
.like:hover{
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255,    255, 0);

}
.like:enabled{
    color: rgba(255, 255, 255, 0.9);
    background-color: red;
}


